<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

Or:

<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>




Example from Website: https://vuejs.org/v2/guide/#

<div id="app">
  <!-- <h2>{{ product }} are in stock.</h2> -->
  <ul>
    <li v-for="product in products">
      <input type="number" v-model.number="product.quantity">
      {{ product.name}}
      <span v-if="product.quantity === 0">
        - OUT OF STOCK
      </span>
      <button @click="product.quantity += 1">
        Add 
      </button>
    </li>
  </ul>
  <h2>Totaly Inventory: {{ totalProducts }}</h2>
</div>
<script src="https://unpkg.com/vue"></script>
<script>
  const app = new Vue({
    el: '#app'
    data: {
      product: [
        'Boots',
        'Jacket',
        'Socks'
    ]},
    computed: {
      totalProducts () {
        return this.products.reduce((sum, product) => {
          return sum + product.quantity
        }, 0)
      }
    }
    created () {
      fetch('https://api.myjson.com/bins/74163')
        .then(response => response.json())
        .then(json => {
          this.product = json.products
        })
    }
  })
  var product = 'Boots'
</script>



Getting Started:

The easiest way to try out Vue.js is using the JSFiddle Hello World example. 
Feel free to open it in another tab and follow along as we go through some basic examples. 
Or, you can create an index.html file and include Vue with:

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
or:

<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
The Installation page provides more options of installing Vue. Note: We do not recommend 
that beginners start with vue-cli, especially if you are not yet familiar with Node.js-based build tools.

Declarative Rendering:

At the core of Vue.js is a system that enables us to declaratively render data to the DOM using 
straightforward template syntax:

<div id="app">
  {{ message }}
</div>
var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!'
  }
})
